QUESTION **1**

In [ ]:
# Print a string literal that says “Learning Python is fun!”
print("Learning Python is fun!")

Learning Python is fun!

QUESTION **2**

In [ ]:
# Create and print an integer literal and a float literal.
integer_literal = 10
float_literal = 3.14
print(integer_literal)
print(float_literal)

10
3.14

QUESTION **3**

In [ ]:
# Create a string literal using single quotes and another using double quotes.
single_quote_string = 'This is a string in single quotes.'
double_quote_string = "This is a string in double quotes."
print(single_quote_string)
print(double_quote_string)

This is a string in single quotes.
This is a string in double quotes.

QUESTION **4**

In [ ]:
# Create a boolean literal and print it.
boolean_literal = True
print(boolean_literal)

True

QUESTION **5**

In [ ]:
# Create a variable with the value None and print it.
variable = None
print(variable)

None

QUESTION **6**

In [ ]:
print(type("Hello"))  # str
print(type(10))       # int
print(type(3.5))      # float
print(type(True))     # bool
print(type(None))     # nontype

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

QUESTION **7**

In [ ]:
print("Python’s simplicity is powerful.")

Python’s simplicity is powerful.

QUESTION **8**

In [ ]:
#  to join two string literals
result = "haseeb," + "gul"
print(result)

haseeb,gul

QUESTION **9**

In [ ]:
# A list of mixed literals:
mixed_literals = [39,"nowshehra", True]
print(mixed_literals)

[39, 'nowshehra', True]

QUESTION **10**

In [ ]:
# Multi-line string :
multi_line_string = '"Ali eat something in the class"'
print(multi_line_string)

"Ali eat something in the class"

QUESTION **11**

In [ ]:
print(None == 0)                # Because the None value is '0',
print(None == False)            # and false is also equal to '0'.

False
False