QUESTION **1**

In [ ]:
# Convert a string "10" to an integer,
int("10")
num=int("10")
# then add 5
result=num+5
print(result)

15

QUESTION **2**

In [ ]:
#Take a float number (like 7.9) as a string and convert it to a float.
num=float("7.9")
print(num)

7.9

QUESTION **3**

In [ ]:
# Convert a float 3.14 to an integer and print the result.
num=int(3.14)
result=num
print(result)

3

QUESTION **5**

In [ ]:
# Convert an integer 1 to a boolean and print the result.
num = 1
bool_num= bool(num)
print(bool_num)

True

QUESTION **6**

In [4]:
# Convert the string "False" to a boolean. What happens?
value = "false"
bool_value = bool(value)
print(bool_value)

True

QUESTION **7**

In [ ]:
# Take a number from the user as a string, convert it to an integer, and multiply it by
2
user_input=input("Enter your number:")
num=int(user_input)
result = num * 2
print("Result:",result)

Enter your number:5
Result: 10

QUESTION **8**

In [ ]:
user_input = input("Enter a floating-point number: ")  # Input is a string
float_num = float(user_input)                          # Convert to float
int_num = int(float_num)                               # Convert float to int (truncates decimal)
print("Original (float):", float_num)
print("Converted (int):", int_num)

Enter a floating-point number: 4.4
Original (float): 4.4
Converted (int): 4

QUESTION **9**

In [ ]:
#  Convert a number to a string and check its type using type().
num = 23
str_num = str(num)
print(str_num)
print(type(str_num))

23
<class 'str'>

QUESTION **11**

In [ ]:
#  Take two numbers from the user and add them as integers (not strings).
num1 = input("Enter your first number: ")
num2 = input("Enter your second number: ")
result = int(num1) + int(num2)
print("Result:", result)

Enter your first number: 10
Enter your second number: 20
Result: 30

QUESTION **12**

In [3]:
#  12. Take a string input like "25.5" and convert it into both float and int.
input_str = input("Enter a number:")
# convert to float
float_num = float(input_str)
int_num = int(float_num)
print("float value:",float_num)
print("int value:",int_num)

Enter a number:25.5
float value: 25.5
int value: 25