QUESTION 1

In [1]:
# Store student names and grades in a dictionary. Allow lookup by name.
gradebook = {"Ali": 90, "Danish": 85}

name = input("Enter name: ")
print("Grade:", gradebook.get(name, "Not found"))

Enter name: Ali
Grade: 90

QUESTION 2

In [5]:
#  Count occurrences of each word in a paragraph using a dictionary.
text = input("Enter text: ")
words = text.split()
count = {}

for w in words:
    count[w] = count.get(w, 0) + 1

print(count)

Enter text: My father is teacher and My mother is also teacher
{'My': 2, 'father': 1, 'is': 2, 'teacher': 2, 'and': 1, 'mother': 1, 'also': 1}

QUESTION 3

In [6]:
#  Input a string and count character frequency using a dictionary.
text = input("Enter text: ")
freq = {}

for char in text:
    freq[char] = freq.get(char, 0) + 1

print(freq)

Enter text: haseeb gull
{'h': 1, 'a': 1, 's': 1, 'e': 2, 'b': 1, ' ': 1, 'g': 1, 'u': 1, 'l': 2}

QUESTION 4

In [7]:
#  From a dictionary of product:price, find the most expensive product.
products = {"Phone": 800, "Laptop": 1200, "Tablet": 600}
max_product = max(products, key=products.get)
print("Most expensive:", max_product, "Price:", products[max_product])

Most expensive: Laptop Price: 1200

QUESTION 5

In [8]:
a = {"apple": 3, "banana": 2}
b = {"banana": 4, "orange": 1}

merged = a.copy()
for k, v in b.items():
    merged[k] = merged.get(k, 0) + v

print(merged)

{'apple': 3, 'banana': 6, 'orange': 1}

                                        THE  END